.api-request {
    margin-bottom: 10px;

    &__header {
        position: relative;
        border-bottom: 0.05rem solid #dadee4;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
    }

    &__url {
        padding: 0.8rem;
        font-weight: bold;
    }

    &__block {
        flex: 0 0 auto;
        padding: 0 0.8rem 0.8rem 0.8rem;

        &--overflow{
            max-height: 300px;
            overflow: auto;
        }
    }

    &__open {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
